
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Inter', sans-serif;
		background-color: #FAF7F2;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Merriweather', serif;
	}

	button {
		font-family: 'Inter', sans-serif;
		font-weight: 500;
	}

	label:has(+ input:required)::after,
	label:has(+ select:required)::after,
	label:has(+ textarea:required)::after,
	label:has(+ div input:required)::after,
	label:has(+ div select:required)::after,
	label:has(+ div textarea:required)::after {
		content: " *";
		color: #dc2626;
		font-weight: 800;
	}

	input:required:user-invalid,
	select:required:user-invalid,
	textarea:required:user-invalid {
		border-color: #dc2626 !important;
		box-shadow: 0 0 0 2px rgb(220 38 38 / 0.16) !important;
	}

	input:required:focus:user-invalid,
	select:required:focus:user-invalid,
	textarea:required:focus:user-invalid {
		outline: none;
	}
}

@layer components {
	.verse-text {
		font-family: 'Merriweather', serif;
		font-style: italic;
	}
}

@layer utilities {
	.font-heading {
		font-family: 'Merriweather', serif;
	}

	.font-body {
		font-family: 'Inter', sans-serif;
	}
}


/* Hide scrollbar for Chrome, Safari, and newer Edge */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none; /* Hide for Internet Explorer and older Edge */
}
